#main_box_nav{
    padding: 0;
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    right:0;
    width: 100%;
}
.navbar-brand{
    font-weight: 900;
    color:#fff;
    text-decoration:underline;
    font-family: 'Pushster', cursive;
    font-size: xx-large;
    margin-left:5rem;
}
.login_btn{

}
.nav-ul{
    margin-left:auto;
    font-weight: bold;
}
.nav_li{
    font-weight: bold;
}
.hero_section{
    margin-top:25rem;
}
.define_category{
    font-weight: bold;
    font-size:3rem;
}
.des_category{
    font-weight:300;
    font-size:1.2rem;
    width:fit-content;
    height:100px;
}
.des_hero_section{
    /* position: relative;
    top:4rem; */
    font-weight: bold;
    font-size:1.3rem;
    color:#f5bb0c;
}
.des_hero_section:hover{
    text-decoration: underline;
    transition: all;
    transition-duration:1s;
}
.nav-a:hover{
    color: #f5bb0c !important;
    font-weight: bold;
    text-decoration: underline;
    transition-property: all;
    transition-duration: 0.3s;
}

/* slider panel css */
#panel, #flip {
    text-align: center;
  }
  
  #panel{
    position:relative;
    top:4rem;
    padding: 50px;
    display: none;
    background-color:#000;
  }
  ul li{
    display:inline;
    padding:1rem;
    font-weight: bold;
    color:grey;
  }
  #panel ul>li:hover{
    color: #f5bb0c;
    cursor: pointer;
  }
  /* slider panel css ends here */


  /* about us section below hero section css starts here */
  .about_us{
      margin-top:18rem;
  }

  .about_us .heading_about_us{
      font-size: 2rem;
      font-weight: bold;
      color:grey;
      text-align: center;
    }
  .about_us .des_about_us{
      text-align: left;
      padding:1rem;
      color:grey;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.3rem;
  }
  
  .about .des_about_us .btn{
      text-align: center;      
      font-size:5rem;
  }  
  .about_us .shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding:0.5rem;
    width:50%;
    border-radius: 1.5rem;
    margin: auto;
  }

  span.wrap{
      display:inline-block;
      width: 20rem;
      color:black;
  }
  /* about us section below hero section  */

  /* underline hover effect  for the our business in yellow color below the hero sectoin*/
  .underline {
    display: inline;
    position: relative;
    overflow: hidden;
  }
  .underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #f5bb0c;
    height: 4px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .underline:hover:after,
  .underline:focus:after,
  .underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }
  /* chairman's message css here */
  .chairman{
      margin-top:10rem;
      background-color: #d9d9d9;
      padding:5rem;
      color:grey;
  }
  .chairman div.main_head{
      font-size: 2rem;
      font-weight: bold;
      color:grey;
      text-align: center;
      padding: 1rem;
  }
  .chairman div.main_des{
      text-align: left;
      padding:1rem;
      color:rgb(63, 63, 63);
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.3rem;
  }
  /* business information after chairman's message */
  .bus_info{
      margin-top:4rem;
      font-size: 3rem;
      font-weight: bold;
      color:grey;
      text-align: center;
      padding: 5rem;
  }
.bus_info .border_bus_right{
      border-right:3px solid #f5bb0c;
  }
.bus_info .border_bus_left{
    border-left:3px solid #f5bb0c;
}
.business_carasoul{
    margin-top:4rem;
}
.business_carasoul .bus_car_head{
      font-size: 2rem;
      font-weight: bold;
      color:rgb(63, 63, 63);
      text-align: center;
}

/* business carasouls */
.carasoul{
    margin-top:5rem;   
    background-color: #d9d9d9;
}
.carasoul .keywords{
    font-size: 3rem;
      font-weight: bold;
      color:grey;
      text-align: center;
      padding:3rem;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    width: 100%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}


/* what's new css start here */
.what_is_new{
    margin-top:5rem;
    
}
.what_is_new .main_heading{
    font-size: 3rem;
      font-weight: bold;
      color:grey;
      text-align: center;
      padding:3rem;
}

